@using EntityLayer.Concrete
@model List<ServiceTerrain>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Arsa lan Listesi</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Arsa İlan Listesi</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Fiyat</th>
                            <th>Durum</th>
                            <th>Eklenme Tarihi</th>
                            <th>Son Güncellenme Tarihi</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                            <th>Durumu Değiştir</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Fiyat</th>
                            <th>Durum</th>
                            <th>Eklenme Tarihi</th>
                            <th>Son Güncellenme Tarihi</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                            <th>Durumu Değiştir</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ServiceTerrainID</td>
                                <td>@item.Baslik</td>
                                <td>@item.Fiyat</td>
                                <td>@(item.Status.ToString().ToLower() == "true" ? "Aktif" : "Pasif")</td>
                                <td>@item.ServiceInfo?.EklenmeTarihi</td>
                                <td>@item.ServiceInfo?.GuncellenmeTarihi</td>
                                <td>
                                    <a href="/ServiceTerrain/DeleteServiceTerrain/@item.ServiceTerrainID" class="btn btn-danger btn-circle">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="/ServiceTerrain/EditServiceTerrain/@item.ServiceTerrainID" class="btn btn-info btn-circle">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="/ServiceTerrain/ChangeStatus/@item.ServiceTerrainID" class="btn btn-info btn-circle">
                                        <i class="fas fa-check"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/ServiceTerrain/AddServiceTerrain/" class="btn btn-outline-info">Yeni Ilan Girişi</a>
            </div>
        </div>
    </div>
</div>