@model REstatePresentation.Models.ServiceHousingAddViewModel
@{
    ViewData["Title"] = "EditServiceHousing";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">İlan Güncelleme Sayfası</h1>
    <form method="post">
        @Html.HiddenFor(x=>x.ServiceHousing.ServiceHousingID)
        @Html.HiddenFor(x=>x.ServiceHousing.ServiceInfoId)
        @Html.HiddenFor(x=>x.ServiceHousing.ServiceMapId)
        @Html.HiddenFor(x=>x.ServiceInfo.ServiceInfoID)
        @Html.HiddenFor(x=>x.ServicePhoto.ServicePhotoID)
        @Html.HiddenFor(x=>x.ServicePhoto.ServiceHousingId)
        @Html.HiddenFor(x=>x.ServiceMap.ServiceMapID)

        <div class="form-group">
            @Html.Label("Başlık")
            <span asp-validation-for="ServiceHousing.Baslik" class="text-danger"></span>
            <input type="text" asp-for="ServiceHousing.Baslik" class="form-control" />
        </div><br />

        <div class="form-group">
            @Html.Label("Kapak Görseli")
            <span asp-validation-for="ServiceHousing.Gorsel" class="text-danger"></span>
            <input type="text" asp-for="ServiceHousing.Gorsel" class="form-control" readonly />
        </div>
        <div>
            <div>
                <img src="@Url.Content(Model.ServiceHousing.Gorsel)" alt="Service Photo" class="img-thumbnail" />
            </div>
        </div><br />

        <div class="form-group">
            @Html.Label("Fiyat")
            <span asp-validation-for="ServiceHousing.Fiyat" class="text-danger"></span>
            <input type="number" asp-for="ServiceHousing.Fiyat" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("TapuDurumu")
            <span asp-validation-for="ServiceHousing.TapuDurumu" class="text-danger"></span>
            <input type="text" asp-for="ServiceHousing.TapuDurumu" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("YapininDurumu")
            <span asp-validation-for="ServiceHousing.YapininDurumu" class="text-danger"></span>
            <input type="text" asp-for="ServiceHousing.YapininDurumu" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("Isitma")
            <span asp-validation-for="ServiceHousing.Isitma" class="text-danger"></span>
            <input type="text" asp-for="ServiceHousing.Isitma" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("BinaKatSayisi")
            <span asp-validation-for="ServiceHousing.BinaKatSayisi" class="text-danger"></span>
            <input type="number" asp-for="ServiceHousing.BinaKatSayisi" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("YapininCephesi")
            <span asp-validation-for="ServiceHousing.YapininCephesi" class="text-danger"></span>
            <input type="text" asp-for="ServiceHousing.YapininCephesi" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("YapininSekli")
            <span asp-validation-for="ServiceHousing.YapininSekli" class="text-danger"></span>
            <input type="text" asp-for="ServiceHousing.YapininSekli" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("TuvaletSayisi")
            <span asp-validation-for="ServiceHousing.TuvaletSayisi" class="text-danger"></span>
            <input type="number" asp-for="ServiceHousing.TuvaletSayisi" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("BalkonSayisi")
            <span asp-validation-for="ServiceHousing.BalkonSayisi" class="text-danger"></span>
            <input type="number" asp-for="ServiceHousing.BalkonSayisi" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("BanyoSayisi")
            <span asp-validation-for="ServiceHousing.BanyoSayisi" class="text-danger"></span>
            <input type="number" asp-for="ServiceHousing.BanyoSayisi" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("SalonSayisi")
            <span asp-validation-for="ServiceHousing.SalonSayisi" class="text-danger"></span>
            <input type="number" asp-for="ServiceHousing.SalonSayisi" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("OdaSayisi")
            <span asp-validation-for="ServiceHousing.OdaSayisi" class="text-danger"></span>
            <input type="number" asp-for="ServiceHousing.OdaSayisi" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("KiraGetirisi")
            <span asp-validation-for="ServiceHousing.KiraGetirisi" class="text-danger"></span>
            <input type="number" asp-for="ServiceHousing.KiraGetirisi" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("KullanimDurumu")
            <span asp-validation-for="ServiceHousing.KullanimDurumu" class="text-danger"></span>
            <input type="text" asp-for="ServiceHousing.KullanimDurumu" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("YakitTipi")
            <span asp-validation-for="ServiceHousing.YakitTipi" class="text-danger"></span>
            <input type="text" asp-for="ServiceHousing.YakitTipi" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("BulunduguKat")
            <span asp-validation-for="ServiceHousing.BulunduguKat" class="text-danger"></span>
            <input type="number" asp-for="ServiceHousing.BulunduguKat" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("Aidat")
            <span asp-validation-for="ServiceHousing.Aidat" class="text-danger"></span>
            <input type="number" asp-for="ServiceHousing.Aidat" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("KonumLink")
            <span asp-validation-for="ServiceHousing.KonumLink" class="text-danger"></span>
            <input type="text" asp-for="ServiceHousing.KonumLink" class="form-control" />
        </div><br />
        <div class="form-group">
            @Html.Label("UzunAciklama")
            <span asp-validation-for="ServiceHousing.UzunAciklama" class="text-danger"></span>
            <textarea class="form-control" asp-for="ServiceHousing.UzunAciklama" rows="4"></textarea>
        </div><br />
        <div class="form-group">
            @Html.Label("TakasYapilir")
            <select asp-for="ServiceHousing.TakasYapilir" class="form-control">
                <option value="">-- Select --</option>
                <option value="True">Evet</option>
                <option value="False">Hayır</option>
            </select>
        </div><br />
        <div class="form-group">
            @Html.Label("KrediyeUygun")
            <select asp-for="ServiceHousing.KrediyeUygun" class="form-control">
                <option value="">-- Select --</option>
                <option value="True">Evet</option>
                <option value="False">Hayır</option>
            </select>
        </div><br />
        <div class="form-group">
            @Html.Label("Devren")
            <select asp-for="ServiceHousing.Devren" class="form-control">
                <option value="">-- Select --</option>
                <option value="True">Evet</option>
                <option value="False">Hayır</option>
            </select>
        </div><br /> <div class="form-group">
            @Html.Label("Status")
            <select asp-for="ServiceHousing.Status" class="form-control">
                <option value="">-- Select --</option>
                <option value="True" >Aktif</option>
                <option value="False">Pasif</option>
            </select>
        </div><br />

        <div class="form-group">
            @Html.Label("Mahalle")
            <input type="text" asp-for="ServiceMap.Mahalle" class="form-control" />
        </div>
        <div class="form-group">
            @Html.Label("Koy")
            <input type="text" asp-for="ServiceMap.Koy" class="form-control" />
        </div>
        <div class="form-group">
            @Html.Label("Ilce")
            <input type="text" asp-for="ServiceMap.Ilce" class="form-control" />
        </div>
        <div class="form-group">
            @Html.Label("Il")
            <input type="text" asp-for="ServiceMap.Il" class="form-control" />
        </div>
        <div class="form-group">
            @Html.Label("EklenmeTarihi")
            <input type="datetime" asp-for="ServiceInfo.EklenmeTarihi" class="form-control" readonly />
        </div>
        <div class="form-group">
            @Html.Label("GuncellenmeTarihi")
            <input type="datetime" asp-for="ServiceInfo.GuncellenmeTarihi" class="form-control" readonly />
        </div>
        <div>
            @foreach (var item in Model.PhotoPaths)
            {
                <img src="@Url.Content(item)" alt="Service Photo" class="img-thumbnail" />
            }
        </div>
        <div>
            <label>Fotoğraflar:</label>
            <div>
                @foreach (var item in Model.PhotoPaths)
                {
                    <img src="@Url.Content(item)" alt="Service Photo" class="img-thumbnail" />
                }
            </div>
        </div>
        <button class="btn btn-outline-info">Değişiklikleri Kaydet</button>
    </form>
</div>